<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- footer section starts  -->

    <section class="footer">
      <div class="box-container">
        <div class="box">
          <h3>locations</h3>
          <a href="#">india</a>
          <a href="#">japan</a>
          <a href="#">russia</a>
          <a href="#">USA</a>
          <a href="#">france</a>
        </div>
        <!-- 
        <div class="box">
          <h3>quick links</h3>
          <a routerLink="home">home</a>
          <a routerLink="dishes">dishes</a>
          <a routerLink="about">about</a>
          <a routerLink="menu">menu</a>
          <a href="#">reivew</a>
          <a routerLink="order">order</a>
        </div> -->

        <div class="box">
          <h3>contact info</h3>
          <a href="#">+91 7377753581</a>
          <a href="#">+91 9692962577</a>
          <a href="#">sayemworldxx@gmail.com</a>
          <a href="#">goldenkitchen@gmail.com</a>
          <a href="#">Bhubaneswar, india - 751030</a>
        </div>

        <div class="box right">
          <h3>follow us</h3>
          <a href="#">facebook</a>
          <a href="#">twitter</a>
          <a href="#">instagram</a>
          <a href="#">linkedin</a>
        </div>
      </div>

      <div class="credit">copyright @ 2022 by <span>Golden Kitchen</span></div>
    </section>
  </body>
</html>
