<!-- about section starts  -->

<section class="about" id="about">
  <h3 class="sub-heading">about us</h3>
  <h1 class="heading">why choose us?</h1>

  <div class="row">
    <div class="image">
      <img src="assets/images1/about-img.png" alt="" />
    </div>

    <div class="content">
      <h3>best food in the country</h3>
      <p>
        A good restaurant is like a vacation; it transports you, and it becomes
        a lot more than just about the food. We have 15 years of experience with
        the added benefit of objective. It's a multi-cuisine restaurant where
        you can choose your favorite food like Chinese, Continental, and Indian
        and order online which will deliver to your doorstep.
      </p>
      <p>It's a 5-star restaurant with good customer reviewa and feedback.</p>
      <div class="icons-container">
        <div class="icons">
          <i class="fas fa-shipping-fast"></i>
          <span>free delivery</span>
        </div>
        <div class="icons">
          <i class="fas fa-dollar-sign"></i>
          <span>easy payments</span>
        </div>
        <div class="icons">
          <i class="fas fa-headset"></i>
          <span>24/7 service</span>
        </div>
      </div>
      <a href="#" class="btn">learn more</a>
    </div>
  </div>
</section>

<!-- about section ends -->
