<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Contact Form 03</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,700"
      rel="stylesheet"
      type="text/css"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link rel="stylesheet" href="css/style.css" /> -->
  </head>
  <body>
    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6 text-center mb-5">
            <h2 class="heading-section">Add New Item To The Menu</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-12">
            <div class="wrapper">
              <div class="row no-gutters">
                <div class="col-md-7">
                  <div class="contact-wrap w-100 p-md-5 p-4">
                    <h3 class="mb-4">Add Item</h3>

                    <form
                      id="contactForm"
                      name="contactForm"
                      class="contactForm"
                      (ngSubmit)="onclickAddOrUpdate()"
                    >
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="label" for="name">Full Name</label>
                            <input
                              type="text"
                              class="form-control"
                              name="name"
                              id="name"
                              placeholder="Name"
                              [(ngModel)]="menu.name"
                              required
                            />
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="label" for="price">Price</label>
                            <input
                              type="text"
                              class="form-control"
                              name="price"
                              id="price"
                              placeholder="Price"
                              [(ngModel)]="menu.price"
                              required
                            />
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <label class="label" for="subject"
                              >Image Path</label
                            >
                            <input
                              type="text"
                              class="form-control"
                              name="path"
                              id="path"
                              placeholder="Image Path"
                              [(ngModel)]="menu.imagePath"
                              required
                            />
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <label class="label" for="#">Description</label>
                            <textarea
                              name="description"
                              class="form-control"
                              id="description"
                              cols="30"
                              rows="4"
                              placeholder="Description"
                              [(ngModel)]="menu.description"
                              required
                            ></textarea>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <input
                              type="submit"
                              [value]="!isUpdate ? 'Update Item' : 'Add Item'"
                              class="btn btn-primary"
                            />
                            <div class="submitting"></div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="col-md-5 d-flex align-items-stretch">
                  <!-- <div
                    class="info-wrap w-100 p-5 img"
                    style="background-image: url({ currentImagePath })"
                  ></div> -->
                  <img [src]="menu.imagePath" class="info-wrap w-100 p-5 img" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
