<div class="table">
  <h1>
    All The Deliverer (Supplier)
    <button (click)="gotoSupplierSignup()" class="btn btn-primary">
      Add Supplier
    </button>
  </h1>
  <table class="styled-table container" style="margin-right: 100px">
    <!-- <button (click)="getCustomers()">getCustomers</button> -->

    <thead>
      <tr>
        <th>Serial Number</th>
        <th>Customer Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>UserName</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody *ngFor="let supplier of suppliers; let i = index">
      <tr
        *ngIf="
          supplier.id != 19 && supplier.authorities[0].authority === 'SUPPLIER'
        "
      >
        <td>{{ i + 1 }}</td>
        <td>{{ supplier.id }}</td>
        <td>{{ supplier.firstName }}</td>
        <td>{{ supplier.lastName }}</td>
        <td>{{ supplier.email }}</td>
        <td>{{ supplier.phone }}</td>
        <td>{{ supplier.username }}</td>
        <td>
          <button class="btn-danger" (click)="onDeleteUser(supplier.id)">
            delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
